/*  menu    */
.navbar-nav{
  margin-left: 83%;   
}
.fa-bell{
  font-size: 30px;
  width: 40px;
  color: black;
}
.fa-user{
  font-size: 30px; 
  width: 40px;
  color: black;
}
.fa-cart-arrow-down{
  font-size: 30px;
  width: 50px;
  color: black;
}

/*   card  */
.card{
  margin-top: 0%;
}
.cesta{
  height: 90px;
  margin-left: 26%; 
  float: left;  
}
.card-body .card-title{
  color: black;
  text-align: center;
  
}
.card-title{
  margin-right:30%;
  margin-bottom: 0%;
} 
.card-textp{
  margin-left: 40%;  
}
.btn{
  margin-left: 47%;
  background-color: #0a090a;
}

/* subMenu*/
.subMenu{
  margin-left: 13%;
  margin-top: 23%;
  font-size: 18px;
}
.menuTiendas{
  width: 10%;
}
 
/*  slider */
#carouselExampleFade{
 width: 60%;
 margin-left: 20%;
}

/*STILOS cards PROMO*/
.cards-promo{
  width: 40%;
  float: left;    
}
.card-text{
  margin-left: 50%;
}
.row{
  margin-top: 1%;
}

/*ESTILOS FORMULARIO_CONTACTO  JENIFER*/
.contact_form{  
width: 560px; 
height: auto;
margin: 80px auto;
border-radius: 10px;  
padding-top: 30px;
padding-bottom: 20px;  
background-color: #d8ab17; 
padding-left: 30px; 
}
#nombre{
  background-color: #fbfbfb; 
  width: 418px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #181718; 
  margin-top: 10px;  
  padding-left: 20px;
  margin-bottom: 20px; 
  margin-left: 7%;
}
#email{
  background-color:#fbfbfb; 
  width: 418px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #181718; 
  margin-top: 10px;  
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 7%;
}
#telefono{
  background-color:#fbfbfb; 
  width: 418px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #181718; 
  margin-top: 10px;  
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 7%;
}
#assunto{
  background-color: #fbfbfb; 
  width: 418px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #181718; 
  margin-top: 10px;  
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 7%;
}
textarea{
background-color: #fbfbfb; 
width: 435px; 
height: 150px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #ab4493; 
margin-top: 10px;  
padding-left: 20px;
margin-bottom: 20px; 
padding-top: 15px; 
margin-left: 7%;
}

label{
display: block; 
float: center; 
margin-left: 7%; 
color: black;
font-family: 'Noto Sans', sans-serif;
}

button{
height: 45px; 
padding-left: 5px;
padding-right: 5px;     
margin-bottom: 20px; 
margin-top: 10px;   
text-transform: uppercase;
background-color: #0a090a; 
border-color: #8f8e8f; 
border-style: solid; 
border-radius: 10px;    
width: 420px;   
cursor: pointer;
margin-left: 7%;
}

#enviar p{
  text-align:center;
}

button p{
  color: #fff; 
}


span{
  color: #111011; 
}

.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}

h1{
  font-size: 39px;  
  text-align: center;
  padding-bottom: 20px; 
  color: #111011;
  text-align: center;
}

h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e; 
  text-align: center;  
}

p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
color: #a8a8a8;
}

::-webkit-textarea-placeholder {
color: #a8a8a8;
}

.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}

.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

/* FOOTER*/

.footer{
  background-color: black;
  color: white;
  margin-bottom: 0%;
  width: 100%; 
  text-align: center;
  line-height: 3;
}

/*Estilos Navegación Tendero*/
.imgUser{
  width: 250px;
}
.nameUser{
  width: 250px;
}

